/* @import url("./assets/Fonts/WEB/css/switzer.css"); */
@import "./assets/Fonts/WEB/css/switzer.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Switzer-Regular";
  background-color: #090d14;
  margin: 0;
  padding: 0;
  width: 440px;
  width: 100%;
  height: 100%;
  /* max-height: 956px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  box-sizing: border-box;
  overflow-y: auto;
}

.container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

.recommededTag {
  background-color: rgba(255, 255, 255, 0.32);
}

/* .swiper {
  width: 100%;
  height: auto;
  margin: 2px;
} */

/* .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  transition: transform 0.3s ease-in-out; 
} */

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
} */

/* .swiper-slide-active {
  transform: scale(1); 
  z-index: 10; 
} */

/* .swiper-slide-next,
.swiper-slide-prev {
  transform: scale(0.85); 
  z-index: 5;
} */

/* .swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
} */

/* You are now ready to use the following Rules in your CSS to specify each Font Style:

font-family: Switzer-Thin;
font-family: Switzer-ThinItalic;
font-family: Switzer-Extralight;
font-family: Switzer-ExtralightItalic;
font-family: Switzer-Light;
font-family: Switzer-LightItalic;
font-family: Switzer-Regular;
font-family: Switzer-Italic;
font-family: Switzer-Medium;
font-family: Switzer-MediumItalic;
font-family: Switzer-Semibold;
font-family: Switzer-SemiboldItalic;
font-family: Switzer-Bold;
font-family: Switzer-BoldItalic;
font-family: Switzer-Extrabold;
font-family: Switzer-ExtraboldItalic;
font-family: Switzer-Black;
font-family: Switzer-BlackItalic;
font-family: Switzer-Variable;
font-family: Switzer-VariableItalic; */
